.promoName {
	font-family: 'Roboto';
	font-size: 26px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0em;
	text-align: center;
}

.promoForm {
	text-align: center;
	margin-top: 13px;
}

.promoInputNumber {
	background-color: transparent;
	border: none;
	font-family: 'Roboto';
	font-size: 32px;
	font-style: normal;
	font-weight: 700;
	line-height: 38px;
	height: 38px;
	width: 280px;
}

.error {
	color: #EA0000;
}

.errorText {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 52px;
	width: 284px;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
	margin-top: 33px;
}

.loader {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	height: 52px;
	width: 284px;
	text-transform: uppercase;
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
	margin-top: 33px;
}

.promoSubText {
	margin-top: 13px;
	font-family: 'Roboto';
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	line-height: 16px;
	letter-spacing: 0px;
	text-align: center;

}

.promoPanel {
	margin-top: 33px;
}

.promoPanelLine {
	display: flex;
	justify-content: space-around;
	margin-bottom: 11px;
}

.promoPanelNumber {
	/* background-color: transparent; */
	height: 52px;
	width: 88px;
	border-radius: 0px;
	padding: 12px 30px 12px 30px;
	/* color: #000000; */
}

.promoPanelDel {
	/* background-color: transparent; */
	height: 52px;
	width: 188px;
	border-radius: 0px;
	padding: 16px 39px 16px 39px;
	/* color: #000000; */
}

.promoButton {
	margin-top: 15px;
	width: 284px;
	height: 52px;
	font-family: 'Roboto';
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 19px;
	text-align: center;
}