* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	outline: none;
}

body {
	background-image: url('./baner.svg');
	background-repeat: no-repeat;
	background-size: cover;
	width: 1280px;
	height: 720px;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}
